body {
  background-image: linear-gradient(-225deg, #68d4ff 0%, #ffffff 100%);
background-image: linear-gradient(to top, #40b9e9 0%, #ffffff 100%);
background-attachment: fixed;
background-repeat: no-repeat;

 
}


#contadores .card{
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(65, 65, 65);
    
  }
  form {
    border:black ;
    border-radius: 10px;  
    padding-top:10px;
    background-color:  rgba(29, 27, 27, 0.205);
    box-shadow: 2px 2px 5px #999;
  }