




td,
th {

    border: 1px solid #fff;
    white-space: nowrap;

    
}

thead
{
	display: block;
	font: 12px Georgia, Serif; 
}


tbody {
    display: block;
    height: 550px;
    width: 500px;
    overflow-x: scroll;
    overflow-y: scroll;
}