* {
    margin: 0;
    padding: 0;
}


table {
    border: 0;
    padding: 0;
    margin: 0 0 20px 0;
    border-collapse: collapse;
    overflow: scroll;
}

td,
th {
    padding: 0px;
    border: 1px solid #ccc;
    font: 10px;
    border-left: 1px solid #fff;
}



thead {
    display: block;
    overflow: auto;
    color: white;
    background: #333;
    font-weight: bold;
    font: 15px/1.5;
}

tbody {
    display: block;
    height: 500px;
    overflow: auto;
}