




td,
th {

    border: 1px solid #ccc;
    font-size: 9px/1.2;
    border-left: 1px solid #fff;
    white-space: nowrap;
}


thead {
    display: block;
    overflow: auto;
}

tbody {
    display: block;
    height: 550px;
    overflow: scroll;
}